.main
  display: flex
  justify-content: space-between
  min-height: 100vh

.main__block
  width: 50%

.main__block--left
  display: flex
  justify-content: center
  align-items: center
  background: #1fc881

.main__block__title-box
  display: flex
  flex-direction: column
  text-align: center
  width: 50%

.title
  margin: 0 0 10px
  font-size: 3em

.subtitle
  margin: 0
  font-size: 2em

.title--plan,
.subtitle--plan
  color: #fff

.title--fact,
.subtitle--fact
  color: #EEFF41

.table
  height: 100vh
  width: 100%
  border-collapse: collapse
  text-align: center
  box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12)

.table__row--title
  color: rgba(0,0,0,.54)

.table__data
  border-bottom: 1px solid rgba(0,0,0,.12)

.table__data--bold
  font-weight: bold