<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>SalesScoreboard</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_link_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
